:root {
  --color01: #ff4337;
  --color02: #ff9a82;
  --color03: #1c1a19;
  --color04: #c7bebc;
  --color05: #ffffff;
  --bgcolor: #0b0a0a;

  --drop-shadow: (0px 0px 4px hsla(3, 67%, 70%, 0.5));
  /* Gradient --gradient: linear-gradient(20deg, #fbf7f7 -39.19%, #ff4337 140.57%);-*/

  --title1: 60px;
  --title2: 35px;
  --title3: 28px;
  --paragraph: 18px;
  --button: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bgcolor);
  color: var(--color05);
  font-family: var(--font-space-grotesk);
  background-image: url(/bg-grain.png);
  background-repeat: repeat;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  overflow: hidden;
}

/*---Spline Animation---*/
.spline-container {
  transition: opacity 0.5s ease-in-out;
}

.spline-container {
  position: relative;
  width: 800px;
  height: 800px;
  z-index: 1;
}

.spline-bg {
  position: absolute;
  width: 800px;
  height: 800px;
}

.left-anim {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.left-anim {
  top: -50px;
  left: -50px;
}

.right-anim {
  top: -50px;
  right: -50px;
}

/*---Element---*/

.bg-line {
  z-index: 3;
  position: absolute;
  left: 42%;
  top: -1250px;
  transform: translateX(-60%);
  rotate: -45deg;
}

/*---Re usable CSS---*/

.burial {
  font-family: var(--font-burial);
}

.grotesk-regular,
.grotesk-medium,
.grotesk-bold {
  font-family: var(--font-space-grotesk);
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.just-center {
  justify-content: center;
}

.gradient-text {
  background: linear-gradient(256deg, #fbf7f7 -39.19%, #ff4337 140.57%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 0px 4px hsla(3, 67%, 70%, 0.5));
}

.gradient-text-strokes {
  -webkit-text-fill-color: #000;
  -webkit-text-stroke: 3px transparent;
  background-clip: text;
  background: linear-gradient(314deg, #ffd7d6 -6.6%, #ff8580 102.09%);
  -webkit-background-clip: text;
}

.maintitle {
  font-size: var(--title1);
}

.sectiontitle {
  font-size: var(--title2);
}

.main-button {
  background: url("/grain-button.png") 0 0/40px 40px repeat,
    linear-gradient(135deg, #ffb6b4 0%, #ff8882 49.48%, #fe6c63 100%)
      padding-box,
    linear-gradient(135deg, #ff4337 0%, #ff6d63 46.35%, #ffb0ab 100%) border-box;
  background-repeat: repeat;
  background-blend-mode: overlay, normal;
  border: 1px solid transparent;
  border-radius: 2px;
  color: #fff;
  box-shadow: 0 0 2px 0 #ff6157;
  font-size: var(--button);
  padding: 6px 40px;
}

.gap-20 {
  gap: 20px;
}

/*---First Section---*/

.logo-font {
  font-size: 20px;
}

.section-intro {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.intro-container {
  position: absolute;
  z-index: 5;
  height: 100vh;
  width: 100vw;
}

.intro-text-container {
  text-align: center;
  max-width: 800px;
  text-wrap: pretty;
  gap: 10px;
}

.sub-text {
  gap: 30px;
  p {
    max-width: 650px;
    font-size: 18px;
  }
}

/*----Second-section----*/

.features-section {
  text-align: center;
  padding: 3rem 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url("/bottom_landscape-2.png");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: center 450px;
}

.features-content-container {
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
}

.grid-container {
  margin-top: 100px;
}

.grid-feature {
  display: grid;
  max-width: 1000px;
  grid-template-columns: repeat(4, 200px);
  gap: 40px;
  margin-top: 40px;
  margin-left: 20px;
}

.grid-child {
  text-align: left;
  gap: 10px;
}

.landscape-bg {
  position: absolute;
  bottom: -90px;
  z-index: 1;
  img {
    width: 100vw;
  }
}

.orbit-ring {
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1300px) {
  .left-anim {
    left: -150px;
  }

  .right-anim {
    right: -150px;
  }
}
